* {
    box-sizing: border-box;
}

body {

    background-color: #034f97;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    border-radius: 0 15px 0 15px;
    width: 100%;
  margin: auto;
  
}

.navbar ul {
    list-style-type: none;
    margin: 20px 0px;
}

.navbar ul li {
    display: inline;
    margin: 15px;
    
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(177, 168, 168);
    font-size: 18px;
    font-weight: 500;
}

.navbar button {
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    color: rgb(177, 168, 168);
    border: none;
}

.hero {
    display: flex;
    margin: 13% 40px;
    color: #999ea3;
}
#image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
     border: 10px solid rgb(118, 241, 118);
}

.hero button {
    padding: 10px 30px;
    color: rgb(216, 203, 203);
    background: rgba(55, 119, 12, 0.6);
    font-weight: 00;
    border: none;
    border-radius: 20px 0 20px 0;
}

p {
    font-weight: 500;
    font-size: 18px;
}

.About {

    display: flex;
    /* margin: 8%; */
    column-gap: 40px;
    height: 90vh;
    border: 2px solid rgb(180, 157, 157);
    align-items: center;
    border-radius: 10px;
    background: #034f97;
    
}

.About img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid rgb(118, 241, 118);
}
.About div{
     margin:  5%;
}
.About p{
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  border: 3px dashed rgb(161, 156, 156);
  padding: 20px;
  color:  rgb(177, 168, 168);
}
.About h1 {
    color: #85929c;
}
.About a {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid;
    background: rgba(85, 155, 38, 0.6);
    color:  rgb(223, 211, 211);
    margin: 20px 0;
    font-weight: 540;
border-radius: 20px 0 20px 0;
}
.services div{
   width: 350px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 20px;
}
.services {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.ser {
    border: 2px solid rgb(180, 157, 157);
    border-radius: 20px;
}
#image2 {
    display: block;
    margin: 20px auto;
   background: rgb(165, 144, 144);
   border-radius: 20px;
}
.small{
    height: 50px;
    width: 50px;
}
.ser .title h1 {
    display: flex;
    justify-content: center;
    color:  rgb(182, 164, 164);
}
.services {
    color: rgb(167, 147, 147);
    text-align: center;
}
.serv1 p {
    margin: 35px;
}
.serv2 p {
    margin: 25px;
}
.serv3 p {
    margin: 33px;
}
.serv4 p {
    margin: 23.5px;
}
.serv1 a {
    text-decoration: none;
    color: rgb(196, 190, 190);
    background: rgba(85, 155, 38, 0.6);
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px 0 20px 0;
}
.serv2 a {
    text-decoration: none;
    color: rgb(177, 168, 168);
    background: rgba(85, 155, 38, 0.6);
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px 0 20px 0;
}
.serv3 a {
    text-decoration: none;
    color: rgb(177, 168, 168);
    background: rgba(85, 155, 38, 0.6);
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px 0 20px 0;
}
.serv4 a {
    text-decoration: none;
    color: rgb(177, 168, 168);
    background: rgba(85, 155, 38, 0.6);
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px 0 20px 0;
}
